---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <!-- <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

      </li> -->

      <div class="row">
          <a href={{post.url}} class="card small">
            <div class="card-image">
              <img src={{post.image}}>
              <span class="card-title">{{ post.title}}</span>

            </div>
            <div class="card-content">
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
              <br/>
              <p>{{post.description}}</p>
            </div>
          </a>
      </div>
    {% endfor %}
  </ul>
<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
