
  <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row white-text">
        <div class="col s12 m6 l4">
            <ul>
              <li class="bold-4">Philos is a JavaScript Lab. We are on a mission to get you on the bleeding edge.</li>
              <br/>
              <li>4 Rue des pères blancs</li>
              <li>1040 Brussels</li>
              <br/>
              <li><a href="/contact"><span class="philos-orange">Contact us <i class="fa fa-paper-plane-o"></i></span></a></li>
            </ul>
        </div>
        <div class="col s6 m3 l2">
          <p class="bold-4">Company</p>
          <ul>
            <li><a class="white-text" href="/program">Program</a></li>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text" href="/faq">FAQ</a></li>
            <li><a class="white-text" href="/events">Community</a></li>
            <li><a class="white-text" href="https://admission.philos.io" class="btn margin-right-vsmall">Apply</a></li>
          </ul>
        </div>
        <div class="col s6 m3 l2">
          <p class="bold-4">Connect</p>
          <ul>
            <li><a class="white-text" href="https://medium.com/@philos.io" target="_blank"><i class="fa fa-medium"></i> Blog</a></li>
            <li><a class="white-text" href="https://www.facebook.com/philos.io" target="_blank"><i class="fa fa-facebook-official"></i> Philos.io</a></li>
            <li><a class="white-text" href="https://twitter.com/philos_io" target="_blank"><i class="fa fa-twitter"></i> @philos_io</a></li>
            <li><a class="white-text" href="http://www.slideshare.net/max-philos/" target="_blank"><i class="fa fa-slideshare"></i> Philos.io</a></li>
          </ul>
        </div>
        <div class="col s12 m12 hide-on-large-only"> <!-- HIDDEN LARGE -->
        <hr >
        </div>
        <div class="col s12 m12 l4 center-on-med-and-down">
          <p class="bold-4">Stay informed</p>
          <ul>
            <li>Get updates on the events, ideas and lessons learned from Philos</li>
            <li>
                <!-- <form class="col s8 offset-s2 m8 offset-m2 hide-on-large-only">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label class="white-text" for="email" data-error="wrong" data-success="right" >Email</label>
                      <input class="btn width-100" id="btnSuscribeSmall" type="submit" value="Stay Informed">
                    </div>
                  </div>
                </form> -->

                <div id="mc_embed_signup" class="col s8 offset-s2 m8 offset-m2 hide-on-large-only">
                  <form action="//philos.us10.list-manage.com/subscribe/post?u=2d1281127eb89708bad0ebec3&amp;id=af7d02db95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">


                    <div class="input-field col s12">
                      <input type="email" value="" name="EMAIL" class="required validate" id="mce-EMAIL">
                      <label for="mce-EMAIL" class="white-text">Email</label>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d1281127eb89708bad0ebec3_af7d02db95" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Stay Informed" name="subscribe" id="mc-embedded-subscribe" class="btn width-100"></div>
                    </div>
                  </form>
                </div>

                <div id="mc_embed_signup" class="col l12 hide-on-med-and-down">
                  <form action="//philos.us10.list-manage.com/subscribe/post?u=2d1281127eb89708bad0ebec3&amp;id=af7d02db95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">


                    <div class="input-field col s12">
                      <input type="email" value="" name="EMAIL" class="required validate" id="mce-EMAIL">
                      <label for="mce-EMAIL" class="white-text">Email</label>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d1281127eb89708bad0ebec3_af7d02db95" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Stay Informed" name="subscribe" id="mc-embedded-subscribe" class="btn width-100"></div>
                    </div>
                  </form>
                </div>

            </li>
          </ul>
        </div>
    </div>
    </div>
      <div class="footer-copyright">
      <div class="container">
        <div class="row hide-on-small-only"> <!-- HIDDEN SMALL -->
          <div class="col m6">
            <span class="left">© Philos.io 2015</span>
          </div>
          <div class="col m6 right">
            <span class="right">Crafted in Belgium with <span class="unicode">&#9829;</span> and <span class="unicode">&#127851;</span></span>
          </div>
        </div>
        <div class="row hide-on-med-and-up"> <!-- HIDDEN MED + LARGE -->
          <div class="col s12 text-normal-minus">
            <span>© Philos.io 2015 -</span>
            <span>Crafted in Belgium with <span class="unicode">&#9829;</span> and <span class="unicode">&#127851;</span></span>
          </div>
        </div>
      </div>
    </div>
</footer>
