<header class="">
  <nav class="transparent z-depth-0" role="navigation">
    <div class="nav-wrapper nav-bg">
      <a id="logo-container" href="https://philos.io" class="brand-logo hide-on-med-and-down"><img class="responsive-img border-top-vsmall padding-left-vsmall" src="/images/logo/philos_logo-m.png" alt="logo-philos"></a> <!-- HIDDEN MED + SMALL -->
      <ul class="right hide-on-med-and-down">       <!-- HIDDEN MED + SMALL -->
        <li><a class="uppercase active" href="/">Blogs</a></li>
        <li><a class="uppercase" href="https://philos.io/about">ABOUT</a></li>
        <li><a class="uppercase" href="https://philos.io/events">COMMUNITY</a></li>
      </ul>
      <div class="top-nav hide-on-large-only hide-on-small-only"> <!-- HIDDEN SMALL + Large -->
        <div class="top border-top-vsmall">
          <a href="/" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="/images/logo/philos_logo-s.png" alt="logo-philos"></a>
          <a href="/" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
        </div>
      </div>
      <div class="top-nav hide-on-med-and-up"> <!-- HIDDEN MED + LARGE -->
        <div class="row no-margin-bottom">
          <div class="top border-top-vsmall col s12">
            <a href="/" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="/images/logo/philos_logo-s.png" alt="logo-philos"></a>
            <a href="/" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
