
<nav class="transparent z-depth-0" role="navigation">
  <div class="nav-wrapper nav-bg">
    <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down"><img class="responsive-img border-top-vsmall padding-left-vsmall" src="img/logo/philos_logo-m.png" alt="logo-philos"></a> <!-- HIDDEN MED + SMALL -->
    <ul class="right hide-on-med-and-down">       <!-- HIDDEN MED + SMALL -->
      <li><a class="uppercase" href="/program">PROGRAM</a></li>
      <li><a class="uppercase" href="/about">ABOUT</a></li>
      <li><a class="uppercase " href="/faq">FAQ</a></li>
      <li><a class="uppercase" href="/events">COMMUNITY</a></li>
      <li><a href="https://admission.philos.io" class="btn margin-right-vsmall uppercase">APPLY NOW</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="uppercase" href="/">HOME</a></li>
      <li><a class="uppercase" href="/program">PROGRAM</a></li>
      <li><a class="uppercase" href="/about">ABOUT</a></li>
      <li><a class="uppercase" href="/faq">FAQ</a></li>
      <li><a class="uppercase" href="/events">COMMUNITY</a></li>
    </ul>
    <div class="top-nav hide-on-large-only hide-on-small-only"> <!-- HIDDEN SMALL + Large -->
      <div class="top border-top-vsmall">
        <a href="#" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="img/logo/philos_logo-s.png" alt="logo-philos"></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
      </div>
      <div class="mid-top border-top-vsmall">
        <a href="#" class="btn right margin-right-vsmall ">APPLY NOW</a>
      </div>
    </div>
    <div class="top-nav hide-on-med-and-up"> <!-- HIDDEN MED + LARGE -->
      <div class="row no-margin-bottom">
        <div class="top border-top-vsmall col s12">
          <a href="/" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="img/logo/philos_logo-s.png" alt="logo-philos"></a>
          <a href="/" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="mid-top col s12">
          <a href="https://admission.philos.io" class="btn width-100 margin-right-vsmall ">APPLY NOW</a>
        </div>
      </div>
    </div>
  </div>
</nav>









<!-- <header class="site&#45;header"> -->
<!--  -->
<!--   <div class="wrapper"> -->
<!--  -->
<!--     <a class="site&#45;title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
<!--  -->
<!--     <nav class="site&#45;nav"> -->
<!--       <a href="#" class="menu&#45;icon"> -->
<!--         <svg viewBox="0 0 18 15"> -->
<!--           <path fill="#424242" d="M18,1.484c0,0.82&#45;0.665,1.484&#45;1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/> -->
<!--           <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0&#45;0.82,0.665&#45;1.484,1.484&#45;1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/> -->
<!--           <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0&#45;0.82,0.665&#45;1.484,1.484&#45;1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/> -->
<!--         </svg> -->
<!--       </a> -->
<!--  -->
<!--       <div class="trigger"> -->
<!--         {% for page in site.pages %} -->
<!--           {% if page.title %} -->
<!--           <a class="page&#45;link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> -->
<!--           {% endif %} -->
<!--         {% endfor %} -->
<!--       </div> -->
<!--     </nav> -->
<!--  -->
<!--   </div> -->
<!--  -->
<!-- </header> -->
